In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
delay_df = pd.read_csv("D:/Jai - NSS/capstone/bna-delay-cause/Airline_Delay_Cause.csv")
delay_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 571 non-null    int64
 1   month                571 non-null    int64
 2   carrier              571 non-null    object
 3   carrier_name         571 non-null    object
 4   airport              571 non-null    object
 5   airport_name         571 non-null    object
 6   arr_flights          571 non-null    float64
 7   arr_del15            571 non-null    float64
 8   carrier_ct           571 non-null    float64
 9   weather_ct           571 non-null    float64
 10  nas_ct               571 non-null    float64
 11  security_ct          571 non-null    float64
 12  late_aircraft_ct     571 non-null    float64
 13  arr_cancelled        571 non-null    float64
 14  arr_diverted         571 non-null    float64
 15  arr_delay            571 non-null    float64
 16  carrier_delay        571 non-null    float64
 17  weather_delay        571 non-null    float64
 18  nas_delay            571 non-null    float64
 19  security_delay       571 non-null    float64
 20  late_aircraft_delay  571 non-null    float64
dtypes: float64(15), int64(2), object(4)
memory usage: 93.8+ KB

In [3]:
delay_df.head(1)

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2024,12,NK,Spirit Airlines,BNA,"Nashville, TN: Nashville International",187.0,40.0,11.81,0.08,...,0.63,7.62,2.0,0.0,2447.0,607.0,10.0,1208.0,25.0,597.0

In [123]:
delay_df['carrier_name'].value_counts()
##Look at three years of data. remove those that are niche airports and will definitely skew the data set. 36 shows that the flights appear at least once in the with

carrier_name
Spirit Airlines              36
PSA Airlines Inc.            36
SkyWest Airlines Inc.        36
United Air Lines Network     36
Southwest Airlines           36
Mesa Airlines Inc.           36
Republic Airline             36
Endeavor Air Inc.            36
American Airlines Network    36
Alaska Airlines Network      36
JetBlue Airways              36
Delta Air Lines Network      36
Frontier Airlines            36
Allegiant Air                36
Envoy Air                    36
Name: count, dtype: int64

In [45]:
niche_airlines = ['GoJet Airlines LLC d/b/a United Express','Piedmont Airlines','Air Wisconsin Airlines Corp','Commutair Aka Champlain Enterprises, Inc.','CommuteAir LLC dba CommuteAir']

delay_df = delay_df[~delay_df['carrier_name'].isin(niche_airlines)]
delay_df

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2024,12,NK,Spirit Airlines,BNA,"Nashville, TN: Nashville International",187.0,40.0,11.81,0.08,...,0.63,7.62,2.0,0.0,2447.0,607.0,10.0,1208.0,25.0,597.0
1,2024,12,OH,PSA Airlines Inc.,BNA,"Nashville, TN: Nashville International",299.0,87.0,32.26,1.87,...,0.00,31.28,2.0,0.0,5646.0,1615.0,218.0,944.0,0.0,2869.0
2,2024,12,OO,SkyWest Airlines Inc.,BNA,"Nashville, TN: Nashville International",345.0,95.0,48.79,17.40,...,0.00,14.34,0.0,0.0,7396.0,3433.0,1800.0,915.0,0.0,1248.0
4,2024,12,UA,United Air Lines Network,BNA,"Nashville, TN: Nashville International",448.0,92.0,36.54,0.92,...,0.00,31.78,2.0,0.0,4694.0,1520.0,132.0,750.0,0.0,2292.0
5,2024,12,WN,Southwest Airlines,BNA,"Nashville, TN: Nashville International",4301.0,803.0,228.66,6.43,...,6.16,457.44,8.0,1.0,44612.0,11030.0,559.0,4025.0,419.0,28579.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,2022,1,OO,SkyWest Airlines Inc.,BNA,"Nashville, TN: Nashville International",363.0,74.0,56.00,5.00,...,0.00,13.00,41.0,1.0,4887.0,3480.0,218.0,0.0,0.0,1189.0
567,2022,1,UA,United Air Lines Network,BNA,"Nashville, TN: Nashville International",215.0,40.0,26.37,0.00,...,0.00,5.32,33.0,0.0,2590.0,1938.0,0.0,302.0,0.0,350.0
568,2022,1,WN,Southwest Airlines,BNA,"Nashville, TN: Nashville International",3311.0,517.0,192.47,9.16,...,0.55,241.37,269.0,5.0,28401.0,9411.0,728.0,3197.0,23.0,15042.0
569,2022,1,YV,Mesa Airlines Inc.,BNA,"Nashville, TN: Nashville International",53.0,6.0,5.00,0.00,...,0.00,0.00,17.0,0.0,363.0,317.0,0.0,46.0,0.0,0.0
570,2022,1,YX,Republic Airline,BNA,"Nashville, TN: Nashville International",677.0,151.0,49.69,7.33,...,0.00,39.06,68.0,1.0,8502.0,3281.0,579.0,1984.0,0.0,2658.0

In [46]:
delay_df[['arr_del15','arr_flights','carrier_ct','weather_delay','weather_ct','arr_delay']]

     arr_del15  arr_flights  carrier_ct  weather_delay  weather_ct  arr_delay
0         40.0        187.0       11.81           10.0        0.08     2447.0
1         87.0        299.0       32.26          218.0        1.87     5646.0
2         95.0        345.0       48.79         1800.0       17.40     7396.0
4         92.0        448.0       36.54          132.0        0.92     4694.0
5        803.0       4301.0      228.66          559.0        6.43    44612.0
..         ...          ...         ...            ...         ...        ...
566       74.0        363.0       56.00          218.0        5.00     4887.0
567       40.0        215.0       26.37            0.0        0.00     2590.0
568      517.0       3311.0      192.47          728.0        9.16    28401.0
569        6.0         53.0        5.00            0.0        0.00      363.0
570      151.0        677.0       49.69          579.0        7.33     8502.0

[540 rows x 6 columns]

# Delayed Rates by carrier name from 2022-2024

In [49]:
carrier_performance_agg = delay_df.groupby('carrier_name').agg(totalflights = ('arr_flights', 'sum'),
                                                          delayedflights = ('arr_del15','sum'))
carrier_performance_agg

                           totalflights  delayedflights
carrier_name
Alaska Airlines Network          2743.0           576.0
Allegiant Air                    9574.0          2534.0
American Airlines Network       23804.0          6574.0
Delta Air Lines Network         24034.0          3672.0
Endeavor Air Inc.                4280.0           751.0
Envoy Air                        7548.0          1536.0
Frontier Airlines                2781.0           706.0
JetBlue Airways                  5771.0          1697.0
Mesa Airlines Inc.               1990.0           340.0
PSA Airlines Inc.                7127.0          1340.0
Republic Airline                16358.0          2402.0
SkyWest Airlines Inc.           11110.0          2383.0
Southwest Airlines             142793.0         26679.0
Spirit Airlines                  9516.0          2354.0
United Air Lines Network        16235.0          3383.0

In [132]:
carrier_performance_agg['delayed_rates_percent'] = ((carrier_performance_agg['delayedflights']/carrier_performance_agg['totalflights'])*100).round(2)
carrier_performance_agg = carrier_performance_agg.sort_values(by = 'delayed_rates', ascending = False)
carrier_performance_agg = carrier_performance_agg.sort_values(by = ['totalflights','delayed_rates'], ascending = [False, False])
carrier_performance_agg

,totalflights,delayedflights,delayed_rates,delayed_rates_percent
carrier_name,,,,
Southwest Airlines,142793.0,26679.0,0.186837,18.68
Delta Air Lines Network,24034.0,3672.0,0.152784,15.28
American Airlines Network,23804.0,6574.0,0.276172,27.62
Republic Airline,16358.0,2402.0,0.146839,14.68
United Air Lines Network,16235.0,3383.0,0.208377,20.84
SkyWest Airlines Inc.,11110.0,2383.0,0.214491,21.45
Allegiant Air,9574.0,2534.0,0.264675,26.47
Spirit Airlines,9516.0,2354.0,0.247373,24.74
Envoy Air,7548.0,1536.0,0.203498,20.35
PSA Airlines Inc.,7127.0,1340.0,0.188017,18.80
JetBlue Airways,5771.0,1697.0,0.294056,29.41
Endeavor Air Inc.,4280.0,751.0,0.175467,17.55
Frontier Airlines,2781.0,706.0,0.253866,25.39
Alaska Airlines Network,2743.0,576.0,0.209989,21.00
Mesa Airlines Inc.,1990.0,340.0,0.170854,17.09

In [139]:
carrier_performance_agg[carrier_performance_agg['delayed_rates_percent'] < 21.29].sort_values(by = 'delayed_rates_percent', ascending = True).head(5)

,totalflights,delayedflights,delayed_rates,delayed_rates_percent
carrier_name,,,,
Republic Airline,16358.0,2402.0,0.146839,14.68
Delta Air Lines Network,24034.0,3672.0,0.152784,15.28
Mesa Airlines Inc.,1990.0,340.0,0.170854,17.09
Endeavor Air Inc.,4280.0,751.0,0.175467,17.55
Southwest Airlines,142793.0,26679.0,0.186837,18.68

In [131]:
carrier_performance_agg[carrier_performance_agg['delayed_rates_percent'] > 21.29].sort_values(by = 'delayed_rates_percent', ascending = False).head(5)

,totalflights,delayedflights,delayed_rates,delayed_rates_percent
carrier_name,,,,
JetBlue Airways,5771.0,1697.0,0.294056,29.41
American Airlines Network,23804.0,6574.0,0.276172,27.62
Allegiant Air,9574.0,2534.0,0.264675,26.47
Frontier Airlines,2781.0,706.0,0.253866,25.39
Spirit Airlines,9516.0,2354.0,0.247373,24.74

In [52]:
carrier_performance_agg['delayed_rates'].mean()

0.2128864032495879

In [53]:
carrier_performance_agg['delayedflights'].mean()

3795.133333333333

In [54]:
carrier_performance_agg['totalflights'].mean()

19044.266666666666

# avg delay of flights in minutes overall

In [60]:
avg_delay_grouped = delay_df.groupby('carrier_name')['arr_delay'].describe().reset_index()
avg_delay_grouped

,carrier_name,count,mean,std,min,25%,50%,75%,max
0,Alaska Airlines Network,36.0,635.500000,384.037535,160.0,339.25,548.0,800.25,1884.0
1,Allegiant Air,36.0,5703.722222,2612.952032,1283.0,3986.75,5782.0,6537.25,12768.0
2,American Airlines Network,36.0,13421.972222,6877.857172,5951.0,8322.25,12132.5,15027.25,31528.0
3,Delta Air Lines Network,36.0,6143.333333,3098.460687,1816.0,3742.00,5762.5,7731.00,17304.0
4,Endeavor Air Inc.,36.0,1378.361111,934.276226,120.0,522.00,1300.5,2038.75,3797.0
5,Envoy Air,36.0,2438.916667,1243.148753,580.0,1446.00,2116.0,3114.50,5373.0
6,Frontier Airlines,36.0,1280.583333,657.113314,60.0,727.75,1163.0,1739.25,2599.0
7,JetBlue Airways,36.0,3533.888889,1960.234196,671.0,1634.50,3677.5,5003.00,7351.0
8,Mesa Airlines Inc.,36.0,648.138889,505.697603,0.0,284.75,463.0,901.00,1989.0
9,PSA Airlines Inc.,36.0,2419.611111,1446.722686,406.0,1472.00,2158.0,3059.25,6396.0
10,Republic Airline,36.0,4056.527778,2652.636688,656.0,1847.00,3212.5,6190.00,10448.0
11,SkyWest Airlines Inc.,36.0,5378.222222,3418.428353,887.0,2896.00,4914.5,6873.25,15253.0
12,Southwest Airlines,36.0,39262.722222,14637.650336,16450.0,28627.50,36661.0,46153.25,75452.0
13,Spirit Airlines,36.0,4320.805556,2152.387244,1991.0,2700.00,3441.0,5517.25,10792.0
14,United Air Lines Network,36.0,6452.861111,3797.111761,1234.0,3357.75,5803.5,8170.75,18176.0

In [61]:
delay_df[delay_df['arr_delay'] >= 75452].head(2)
## arr_del15 = weather_ct + nas_ct + security_ct + late_aircraft_ct + arr_cancelled + arr_diverted

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
119,2024,5,WN,Southwest Airlines,BNA,"Nashville, TN: Nashville International",4302.0,1171.0,278.08,33.72,...,4.24,629.7,14.0,21.0,75452.0,16167.0,3090.0,11443.0,239.0,44513.0

In [36]:
southwest_df = delay_df[delay_df['carrier_name'] == 'Southwest Airlines']

In [57]:
southwest_df[['carrier_name','arr_del15','carrier_ct','weather_ct','nas_ct','security_ct','late_aircraft_ct']].sample(2)
## the arrival_del15 is total count of flight delays by carrier,weather,nas,security, and just late

,carrier_name,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct
297,Southwest Airlines,1081.0,277.35,30.23,182.95,5.58,584.89
204,Southwest Airlines,758.0,246.38,8.58,129.25,5.59,368.20

In [58]:
southwest_df[['arr_delay','carrier_delay','weather_delay','nas_delay','security_delay','late_aircraft_delay']].sample(2)
##the arr_del is total count of flight delays by carrier,weather,nas,security, and just late by minutes per month.

,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
218,22576.0,8327.0,7.0,2896.0,44.0,11302.0
142,37176.0,10509.0,787.0,3913.0,153.0,21814.0

# Delay of flights per month by carrier

In [108]:
delayed_months =(delay_df.groupby(['carrier_name', 'month'])[['arr_del15', 'arr_flights']].sum().reset_index())
delayed_months['percent_delayed_m'] = (delayed_months['arr_del15'] / delayed_months['arr_flights']).round(4)*100
delayed_months

,carrier_name,month,arr_del15,arr_flights,percent_delayed_m
0,Alaska Airlines Network,1,39.0,151.0,25.83
1,Alaska Airlines Network,2,25.0,159.0,15.72
2,Alaska Airlines Network,3,36.0,212.0,16.98
3,Alaska Airlines Network,4,56.0,234.0,23.93
4,Alaska Airlines Network,5,63.0,244.0,25.82
...,...,...,...,...,...
175,United Air Lines Network,8,319.0,1457.0,21.89
176,United Air Lines Network,9,233.0,1517.0,15.36
177,United Air Lines Network,10,202.0,1581.0,12.78
178,United Air Lines Network,11,215.0,1381.0,15.57
179,United Air Lines Network,12,229.0,1242.0,18.44

# Delay of flights per year by carrier

In [110]:
delayed_months =(delay_df.groupby(['carrier_name', 'year'])[['arr_del15', 'arr_flights']].sum().reset_index())
delayed_months['percent_delayed_y'] = (delayed_months['arr_del15'] / delayed_months['arr_flights']).round(4)*100
delayed_months

                 carrier_name  year  arr_del15  arr_flights  percent_delayed_y
0     Alaska Airlines Network  2022      138.0        696.0              19.83
1     Alaska Airlines Network  2023      202.0        834.0              24.22
2     Alaska Airlines Network  2024      236.0       1213.0              19.46
3               Allegiant Air  2022      899.0       2417.0              37.19
4               Allegiant Air  2023     1104.0       4130.0              26.73
5               Allegiant Air  2024      531.0       3027.0              17.54
6   American Airlines Network  2022     1801.0       7259.0              24.81
7   American Airlines Network  2023     2151.0       8119.0              26.49
8   American Airlines Network  2024     2622.0       8426.0              31.12
9     Delta Air Lines Network  2022     1118.0       7417.0              15.07
10    Delta Air Lines Network  2023     1320.0       8228.0              16.04
11    Delta Air Lines Network  2024     1234.0       8389.0              14.71
12          Endeavor Air Inc.  2022      396.0       2163.0              18.31
13          Endeavor Air Inc.  2023      147.0        928.0              15.84
14          Endeavor Air Inc.  2024      208.0       1189.0              17.49
15                  Envoy Air  2022      387.0       2113.0              18.32
16                  Envoy Air  2023      603.0       2898.0              20.81
17                  Envoy Air  2024      546.0       2537.0              21.52
18          Frontier Airlines  2022      248.0        906.0              27.37
19          Frontier Airlines  2023      297.0       1111.0              26.73
20          Frontier Airlines  2024      161.0        764.0              21.07
21            JetBlue Airways  2022      717.0       2196.0              32.65
22            JetBlue Airways  2023      696.0       2220.0              31.35
23            JetBlue Airways  2024      284.0       1355.0              20.96
24         Mesa Airlines Inc.  2022      107.0        713.0              15.01
25         Mesa Airlines Inc.  2023      160.0        759.0              21.08
26         Mesa Airlines Inc.  2024       73.0        518.0              14.09
27          PSA Airlines Inc.  2022      400.0       1881.0              21.27
28          PSA Airlines Inc.  2023      452.0       2843.0              15.90
29          PSA Airlines Inc.  2024      488.0       2403.0              20.31
30           Republic Airline  2022     1195.0       6139.0              19.47
31           Republic Airline  2023      519.0       4497.0              11.54
32           Republic Airline  2024      688.0       5722.0              12.02
33      SkyWest Airlines Inc.  2022      833.0       4247.0              19.61
34      SkyWest Airlines Inc.  2023      581.0       2729.0              21.29
35      SkyWest Airlines Inc.  2024      969.0       4134.0              23.44
36         Southwest Airlines  2022     8704.0      43529.0              20.00
37         Southwest Airlines  2023     8896.0      48264.0              18.43
38         Southwest Airlines  2024     9079.0      51000.0              17.80
39            Spirit Airlines  2022      570.0       2451.0              23.26
40            Spirit Airlines  2023      914.0       3262.0              28.02
41            Spirit Airlines  2024      870.0       3803.0              22.88
42   United Air Lines Network  2022      713.0       3551.0              20.08
43   United Air Lines Network  2023     1447.0       6436.0              22.48
44   United Air Lines Network  2024     1223.0       6248.0              19.57