In [1]:
import pandas as pd
import numpy as np
import requests
import zipfile
from pathlib import Path
import pandas as pd
from io import BytesIO, StringIO
import time
import os
from datetime import datetime, date, time

In [2]:
folder_path = "D:\\Jai - NSS\\bna-airline-delay-patterns\\bna-delay-cause"

# List to store all DataFrames
all_dfs = []

for file_name in os.listdir(folder_path):
    if file_name.endswith(".zip"):
        zip_path = os.path.join(folder_path, file_name)
        
        with zipfile.ZipFile(zip_path, 'r') as zip_file:
            for inner_file in zip_file.namelist():
                # Check if the inner file is a CSV
                if inner_file.endswith(".csv"):
                    with zip_file.open(inner_file) as f:
                        # Read bytes and decode to string
                        data = f.read().decode('utf-8')
                        
                        # Load CSV into a DataFrame
                        df = pd.read_csv(StringIO(data))
                        all_dfs.append(df)

# Combine all DataFrames into one
combined_df = pd.concat(all_dfs, ignore_index=True)
print(combined_df.head())
#https://www.geeksforgeeks.org/python/working-zip-files-python/
##little side note 'utf-8' is how python reads bytes to string. If you do not add 'utf-8' it will read all the data raw. There are other like 'latin-1', 'iso-8859-1' ,'utf-16' If you try to decode a file with the wrong encoding, Python will raise a UnicodeDecodeError

   YEAR  QUARTER  MONTH  DAY_OF_MONTH  DAY_OF_WEEK               FL_DATE  \
0  2024        1      1             1            1  1/1/2024 12:00:00 AM
1  2024        1      1             1            1  1/1/2024 12:00:00 AM
2  2024        1      1             1            1  1/1/2024 12:00:00 AM
3  2024        1      1             1            1  1/1/2024 12:00:00 AM
4  2024        1      1             1            1  1/1/2024 12:00:00 AM

  BRANDED_CODE_SHARE ORIGIN DEST  CRS_DEP_TIME  ...  CANCELLED  \
0                 AA    BNA  CLT           537  ...        0.0
1                 AA    BNA  CLT           732  ...        0.0
2                 AA    BNA  CLT           943  ...        0.0
3                 AA    BNA  CLT          1927  ...        0.0
4                 AA    BNA  DFW           501  ...        0.0

   CANCELLATION_CODE DIVERTED  FLIGHTS  DISTANCE  CARRIER_DELAY WEATHER_DELAY  \
0                NaN      0.0      1.0     328.0            NaN           NaN
1                NaN      0.0      1.0     328.0            NaN           NaN
2                NaN      0.0      1.0     328.0            NaN           NaN
3                NaN      0.0      1.0     328.0            NaN           NaN
4                NaN      0.0      1.0     631.0            NaN           NaN

   NAS_DELAY SECURITY_DELAY  LATE_AIRCRAFT_DELAY
0        NaN            NaN                  NaN
1        NaN            NaN                  NaN
2        NaN            NaN                  NaN
3        NaN            NaN                  NaN
4        NaN            NaN                  NaN

[5 rows x 27 columns]

In [3]:
combined_df

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,BRANDED_CODE_SHARE,ORIGIN,DEST,CRS_DEP_TIME,...,CANCELLED,CANCELLATION_CODE,DIVERTED,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2024,1,1,1,1,1/1/2024 12:00:00 AM,AA,BNA,CLT,537,...,0.0,NaN,0.0,1.0,328.0,NaN,NaN,NaN,NaN,NaN
1,2024,1,1,1,1,1/1/2024 12:00:00 AM,AA,BNA,CLT,732,...,0.0,NaN,0.0,1.0,328.0,NaN,NaN,NaN,NaN,NaN
2,2024,1,1,1,1,1/1/2024 12:00:00 AM,AA,BNA,CLT,943,...,0.0,NaN,0.0,1.0,328.0,NaN,NaN,NaN,NaN,NaN
3,2024,1,1,1,1,1/1/2024 12:00:00 AM,AA,BNA,CLT,1927,...,0.0,NaN,0.0,1.0,328.0,NaN,NaN,NaN,NaN,NaN
4,2024,1,1,1,1,1/1/2024 12:00:00 AM,AA,BNA,DFW,501,...,0.0,NaN,0.0,1.0,631.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887288,2022,4,12,31,6,12/31/2022 12:00:00 AM,WN,TPA,BNA,1030,...,0.0,NaN,0.0,1.0,612.0,NaN,NaN,NaN,NaN,NaN
887289,2022,4,12,31,6,12/31/2022 12:00:00 AM,WN,TPA,BNA,1255,...,0.0,NaN,0.0,1.0,612.0,NaN,NaN,NaN,NaN,NaN
887290,2022,4,12,31,6,12/31/2022 12:00:00 AM,WN,TPA,BNA,1750,...,0.0,NaN,0.0,1.0,612.0,NaN,NaN,NaN,NaN,NaN
887291,2022,4,12,31,6,12/31/2022 12:00:00 AM,WN,TPA,BNA,1910,...,0.0,NaN,0.0,1.0,612.0,4.0,0.0,0.0,0.0,19.0
887292,2022,4,12,31,6,12/31/2022 12:00:00 AM,WN,TPA,MEM,1550,...,0.0,NaN,0.0,1.0,655.0,29.0,0.0,0.0,0.0,77.0

In [4]:
combined_df.columns = combined_df.columns.str.lower().str.strip()

In [5]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887293 entries, 0 to 887292
Data columns (total 27 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   year                 887293 non-null  int64
 1   quarter              887293 non-null  int64
 2   month                887293 non-null  int64
 3   day_of_month         887293 non-null  int64
 4   day_of_week          887293 non-null  int64
 5   fl_date              887293 non-null  object
 6   branded_code_share   887293 non-null  object
 7   origin               887293 non-null  object
 8   dest                 887293 non-null  object
 9   crs_dep_time         887293 non-null  int64
 10  dep_delay_new        872711 non-null  float64
 11  dep_del15            872711 non-null  float64
 12  dep_time_blk         887293 non-null  object
 13  crs_arr_time         887293 non-null  int64
 14  arr_delay_new        870506 non-null  float64
 15  arr_del15            870506 non-null  float64
 16  arr_time_blk         887293 non-null  object
 17  cancelled            887293 non-null  float64
 18  cancellation_code    14941 non-null   object
 19  diverted             887293 non-null  float64
 20  flights              887293 non-null  float64
 21  distance             887293 non-null  float64
 22  carrier_delay        172257 non-null  float64
 23  weather_delay        172257 non-null  float64
 24  nas_delay            172257 non-null  float64
 25  security_delay       172257 non-null  float64
 26  late_aircraft_delay  172257 non-null  float64
dtypes: float64(13), int64(7), object(7)
memory usage: 182.8+ MB

In [79]:
combined_df.fl_date.nunique()

1095

In [78]:
combined_df['fl_date'].info()

<class 'pandas.core.series.Series'>
Index: 886483 entries, 0 to 887292
Series name: fl_date
Non-Null Count   Dtype
--------------   -----
886483 non-null  object
dtypes: object(1)
memory usage: 13.5+ MB

#### 3*365 = 1095 days. There is an extra day that needs to be looked at
##### There is a leap year in 02/29/2024. Like the niche airlines let remove the niche day. It only happens every 4 years.

In [9]:
combined_df['fl_date'] = pd.to_datetime(combined_df['fl_date'], errors='coerce')
combined_df = combined_df[combined_df['fl_date'] != '2024-02-29']
combined_df['fl_date'] = combined_df['fl_date'].dt.date

C:\Users\Cajun\AppData\Local\Temp\ipykernel_17696\2202483181.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['fl_date'] = pd.to_datetime(combined_df['fl_date'], errors='coerce')
C:\Users\Cajun\AppData\Local\Temp\ipykernel_17696\2202483181.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['fl_date'] = combined_df['fl_date'].dt.date

In [10]:
bna_df = combined_df[(combined_df['origin'] == 'BNA')]
bna_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 285863 entries, 0 to 887175
Data columns (total 27 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   year                 285863 non-null  int64
 1   quarter              285863 non-null  int64
 2   month                285863 non-null  int64
 3   day_of_month         285863 non-null  int64
 4   day_of_week          285863 non-null  int64
 5   fl_date              285863 non-null  object
 6   branded_code_share   285863 non-null  object
 7   origin               285863 non-null  object
 8   dest                 285863 non-null  object
 9   crs_dep_time         285863 non-null  int64
 10  dep_delay_new        280768 non-null  float64
 11  dep_del15            280768 non-null  float64
 12  dep_time_blk         285863 non-null  object
 13  crs_arr_time         285863 non-null  int64
 14  arr_delay_new        280046 non-null  float64
 15  arr_del15            280046 non-null  float64
 16  arr_time_blk         285863 non-null  object
 17  cancelled            285863 non-null  float64
 18  cancellation_code    5181 non-null    object
 19  diverted             285863 non-null  float64
 20  flights              285863 non-null  float64
 21  distance             285863 non-null  float64
 22  carrier_delay        55446 non-null   float64
 23  weather_delay        55446 non-null   float64
 24  nas_delay            55446 non-null   float64
 25  security_delay       55446 non-null   float64
 26  late_aircraft_delay  55446 non-null   float64
dtypes: float64(13), int64(7), object(7)
memory usage: 61.1+ MB

In [84]:
bna_df = bna_df.drop_duplicates()
print(f"Formerly there were 1096 days. Now there are {bna_df['fl_date'].nunique()} days")

Formerly there were 1096 days. Now there are 1095 days

In [82]:
missing_data = bna_df[bna_df['month'] == 2]
missing_data.fl_date.nunique() 
print(f'Formerly there were 85 days. Now there are {missing_data.fl_date.nunique()} days')

Formerly there were 85 days. Now there are 84 days

### Need to confirm if the date ranges are missing one day

In [13]:
full_range = pd.date_range(start = bna_df['fl_date'].min(), end = bna_df['fl_date'].max())
full_range
## https://pandas.pydata.org/docs/reference/api/pandas.date_range.html

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2024-12-22', '2024-12-23', '2024-12-24', '2024-12-25',
               '2024-12-26', '2024-12-27', '2024-12-28', '2024-12-29',
               '2024-12-30', '2024-12-31'],
              dtype='datetime64[ns]', length=1096, freq='D')

In [14]:
existing_dates = pd.to_datetime(bna_df['fl_date'].unique())
existing_dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10',
               ...
               '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25',
               '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29',
               '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', length=1095, freq=None)

In [15]:
missing_dates = full_range.difference(existing_dates) ##The .difference() method returns a set that contains the difference between two sets.
print(f"Total missing days: {len(missing_dates)}") ## We have one day missing. Which is 2/29/2024

Total missing days: 1

In [16]:
bna_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 285863 entries, 0 to 887175
Data columns (total 27 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   year                 285863 non-null  int64
 1   quarter              285863 non-null  int64
 2   month                285863 non-null  int64
 3   day_of_month         285863 non-null  int64
 4   day_of_week          285863 non-null  int64
 5   fl_date              285863 non-null  object
 6   branded_code_share   285863 non-null  object
 7   origin               285863 non-null  object
 8   dest                 285863 non-null  object
 9   crs_dep_time         285863 non-null  int64
 10  dep_delay_new        280768 non-null  float64
 11  dep_del15            280768 non-null  float64
 12  dep_time_blk         285863 non-null  object
 13  crs_arr_time         285863 non-null  int64
 14  arr_delay_new        280046 non-null  float64
 15  arr_del15            280046 non-null  float64
 16  arr_time_blk         285863 non-null  object
 17  cancelled            285863 non-null  float64
 18  cancellation_code    5181 non-null    object
 19  diverted             285863 non-null  float64
 20  flights              285863 non-null  float64
 21  distance             285863 non-null  float64
 22  carrier_delay        55446 non-null   float64
 23  weather_delay        55446 non-null   float64
 24  nas_delay            55446 non-null   float64
 25  security_delay       55446 non-null   float64
 26  late_aircraft_delay  55446 non-null   float64
dtypes: float64(13), int64(7), object(7)
memory usage: 61.1+ MB

### Let's look at the airlines that share a code

In [17]:
bna_df['branded_code_share'].unique()

array(['AA', 'AA_CODESHARE', 'AS', 'B6', 'DL', 'DL_CODESHARE', 'F9', 'G4',
       'NK', 'UA', 'UA_CODESHARE', 'WN'], dtype=object)

##### Codeshare flights are operated by smaller regional airlines but sold under the brand of a larger airline. 
##### When looking at the data

In [18]:
bna_df = bna_df[~bna_df['branded_code_share'].str.contains('_CODESHARE')]

In [19]:
bna_df['branded_code_share'].unique()

array(['AA', 'AS', 'B6', 'DL', 'F9', 'G4', 'NK', 'UA', 'WN'], dtype=object)

#### There are two common ways to assign seasons to months:
     1. Using a dictionary to map months to seasons
     2. Creating a user-defined function
#### Here’s an example using a dictionary:
season_map = {1: "Winter", 2: "Winter",3: "Spring", 4: "Spring", 5: "Spring", 6: "Summer", 7: "Summer", 8: "Summer", 9: "Fall", 10: "Fall", 11: "Fall", 12: "Winter"}
##### The map() function can then be used to apply this mapping to a pandas Series. It applies a given function or mapping to each element of an iterable (like a list or Series) and returns a new mapped object.

##### For more details, see: https://www.geeksforgeeks.org/python/python-map-function/

In [51]:
def season_map(season):
    if season <=2:
        return 'winter'
    elif 3 <= season <=5:
        return 'spring'
    elif 6 <= season <= 8:
        return 'summer'
    elif 9 <= season <= 11:
        return 'fall'
    else:
        return 'winter'


bna_df['season'] = bna_df['month'].map(season_map)
bna_df.sample(5)

,year,quarter,month,day_of_month,day_of_week,fl_date,branded_code_share,origin,dest,crs_dep_time,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,season,time_of_day,day,week_type
499622,2023,3,8,17,4,2023-08-17,WN,BNA,DAL,1825,...,623.0,21.0,0.0,0.0,0.0,15.0,summer,Early Evening,Thursday,weekday
114099,2024,2,5,21,2,2024-05-21,UA,BNA,ORD,1255,...,409.0,NaN,NaN,NaN,NaN,NaN,spring,Early Afternoon,Tuesday,weekday
110750,2024,2,5,17,5,2024-05-17,WN,BNA,IAH,1245,...,657.0,0.0,0.0,4.0,0.0,17.0,spring,Early Afternoon,Friday,weekday
683047,2022,2,4,9,6,2022-04-09,WN,BNA,DAL,1515,...,623.0,NaN,NaN,NaN,NaN,NaN,spring,Afternoon,Saturday,weekend
211828,2024,3,9,5,4,2024-09-05,AA,BNA,CLT,700,...,328.0,NaN,NaN,NaN,NaN,NaN,fall,Morning,Thursday,weekday

In [52]:
bna_df['crs_arr_time'].unique()

array([ 8,  9, 12, 21,  7, 10, 13, 15, 17, 19, 11, 20, 16, 14, 22,  0, 23,
       18,  1,  6])

In [53]:
##Morning: Generally considered to start around 6 AM and end around 12 PM (noon).
##Early Morning: 5 AM to 8 AM.
##Late Morning: 11 AM to 12 PM.
##Afternoon: 12 PM (noon) to 6 PM.
##Early Afternoon: 1 PM to 3 PM.
##Late Afternoon: 4 PM to 5 PM.
##Evening: 6 PM to 12 AM (midnight).
##Night: 12 AM (midnight) to 6 AM.


time_map = {0: 'Night',
            1: 'Night',
            2: 'Night',
            3: 'Night',
            4: 'Night',
            5: 'Early Morning',
            6: 'Early Morning',
            7: 'Early Morning',
            8: 'Early Morning',
            9: 'Morning',
            10:'Morning',
            11:'Morning',
            12:'Early Afternoon',
            13:'Early Afternoon',
            14:'Early Afternoon',
            15:'Afternoon',
            16:'Afternoon',
            17:'Afternoon',
            19:'Early Evening',
            20:'Early Evening',
            21:'Evening',
            22:'Evening',
            23:'Evening'}


bna_df['crs_arr_time'].tolist()
bna_df['crs_arr_time'] = bna_df['crs_arr_time'].fillna(0).astype(int)
bna_df['crs_arr_time'] = bna_df['crs_arr_time']//100
bna_df['time_of_day'] = bna_df['crs_arr_time'].map(time_map)
bna_df

,year,quarter,month,day_of_month,day_of_week,fl_date,branded_code_share,origin,dest,crs_dep_time,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,season,time_of_day,day,week_type
0,2024,1,1,1,1,2024-01-01,AA,BNA,CLT,537,...,328.0,NaN,NaN,NaN,NaN,NaN,winter,Night,Monday,weekday
1,2024,1,1,1,1,2024-01-01,AA,BNA,CLT,732,...,328.0,NaN,NaN,NaN,NaN,NaN,winter,Night,Monday,weekday
2,2024,1,1,1,1,2024-01-01,AA,BNA,CLT,943,...,328.0,NaN,NaN,NaN,NaN,NaN,winter,Night,Monday,weekday
3,2024,1,1,1,1,2024-01-01,AA,BNA,CLT,1927,...,328.0,NaN,NaN,NaN,NaN,NaN,winter,Night,Monday,weekday
4,2024,1,1,1,1,2024-01-01,AA,BNA,DFW,501,...,631.0,NaN,NaN,NaN,NaN,NaN,winter,Night,Monday,weekday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887171,2022,4,12,31,6,2022-12-31,WN,BNA,TPA,500,...,612.0,NaN,NaN,NaN,NaN,NaN,winter,Night,Saturday,weekend
887172,2022,4,12,31,6,2022-12-31,WN,BNA,TPA,850,...,612.0,0.0,0.0,18.0,0.0,0.0,winter,Night,Saturday,weekend
887173,2022,4,12,31,6,2022-12-31,WN,BNA,TPA,1455,...,612.0,NaN,NaN,NaN,NaN,NaN,winter,Night,Saturday,weekend
887174,2022,4,12,31,6,2022-12-31,WN,BNA,TPA,1735,...,612.0,NaN,NaN,NaN,NaN,NaN,winter,Night,Saturday,weekend
887175,2022,4,12,31,6,2022-12-31,WN,BNA,TPA,2045,...,612.0,NaN,NaN,NaN,NaN,NaN,winter,Night,Saturday,weekend

Code	Description
#2	Tuesday
#3	Wednesday
#4	Thursday
#5	Friday
#6	Saturday
#7	Sunday
#From the bureau of transportation

In [54]:
day_map = {1:'Monday',
           2:'Tuesday',
           3:'Wednesday',
           4:'Thursday',
           5:'Friday',
           6:'Saturday',
           7:'Sunday'}

bna_df['day'] = bna_df['day_of_week'].map(day_map)
bna_df.sample(5)

,year,quarter,month,day_of_month,day_of_week,fl_date,branded_code_share,origin,dest,crs_dep_time,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,season,time_of_day,day,week_type
264355,2024,4,11,1,5,2024-11-01,WN,BNA,GSP,1720,...,265.0,NaN,NaN,NaN,NaN,NaN,fall,Night,Friday,weekday
584337,2023,4,11,24,5,2023-11-24,WN,BNA,JAX,1945,...,483.0,NaN,NaN,NaN,NaN,NaN,fall,Night,Friday,weekday
383526,2023,1,3,30,4,2023-03-30,WN,BNA,MIA,2120,...,806.0,NaN,NaN,NaN,NaN,NaN,spring,Night,Thursday,weekday
575299,2023,4,11,13,1,2023-11-13,WN,BNA,LAX,1900,...,1797.0,NaN,NaN,NaN,NaN,NaN,fall,Night,Monday,weekday
600091,2023,4,12,13,3,2023-12-13,WN,BNA,FLL,640,...,793.0,0.0,0.0,16.0,0.0,0.0,winter,Night,Wednesday,weekday

#### labeling the weekend or weekend

In [56]:
def week_type(day):
    if day <= 5:
        return 'weekday'
    else:
        return 'weekend'
        
bna_df['week_type'] = bna_df['day_of_week'].map(week_type)
bna_df.sample(5)

,year,quarter,month,day_of_month,day_of_week,fl_date,branded_code_share,origin,dest,crs_dep_time,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,season,time_of_day,day,week_type
191698,2024,3,8,12,1,2024-08-12,WN,BNA,DEN,750,...,1014.0,NaN,NaN,NaN,NaN,NaN,summer,Night,Monday,weekday
530638,2023,3,9,24,7,2023-09-24,AA,BNA,LGA,745,...,764.0,43.0,0.0,0.0,0.0,0.0,fall,Night,Sunday,weekend
9625,2024,1,1,13,6,2024-01-13,WN,BNA,CHS,955,...,439.0,NaN,NaN,NaN,NaN,NaN,winter,Night,Saturday,weekend
250885,2024,4,10,18,5,2024-10-18,AA,BNA,MIA,1829,...,806.0,NaN,NaN,NaN,NaN,NaN,fall,Night,Friday,weekday
786683,2022,3,8,22,1,2022-08-22,WN,BNA,MSY,1310,...,471.0,NaN,NaN,NaN,NaN,NaN,summer,Night,Monday,weekday

#### Lets look at the null values

In [57]:
percent_missing = bna_df.isnull().sum() * 100 / len(bna_df)
missing_value_df = pd.DataFrame({'column_name': bna_df.columns,
                                 'percent_missing': percent_missing})
missing_value_df

                             column_name  percent_missing
year                                year         0.000000
quarter                          quarter         0.000000
month                              month         0.000000
day_of_month                day_of_month         0.000000
day_of_week                  day_of_week         0.000000
fl_date                          fl_date         0.000000
branded_code_share    branded_code_share         0.000000
origin                            origin         0.000000
dest                                dest         0.000000
crs_dep_time                crs_dep_time         0.000000
dep_delay_new              dep_delay_new         1.697683
dep_del15                      dep_del15         1.697683
dep_time_blk                dep_time_blk         0.000000
crs_arr_time                crs_arr_time         0.000000
arr_delay_new              arr_delay_new         1.929722
arr_del15                      arr_del15         1.929722
arr_time_blk                arr_time_blk         0.000000
cancelled                      cancelled         0.000000
cancellation_code      cancellation_code        98.276160
diverted                        diverted         0.000000
flights                          flights         0.000000
distance                        distance         0.000000
carrier_delay              carrier_delay        80.299457
weather_delay              weather_delay        80.299457
nas_delay                      nas_delay        80.299457
security_delay            security_delay        80.299457
late_aircraft_delay  late_aircraft_delay        80.299457
season                            season         0.000000
time_of_day                  time_of_day         0.000000
day                                  day         0.000000
week_type                      week_type         0.000000

# THIS IS  ON TIME PERFORMANCE

In [58]:
carrier_performance_agg = bna_df.groupby('branded_code_share').agg(totalflights = ('flights', 'sum'),
                                                             arr_delayedflights = ('arr_del15','sum'),
                                                             arr_delayedmin = ('arr_delay_new','sum'),
                                                             dep_delayedmin = ('dep_delay_new','sum'),
                                                             dep_delayedflights = ('dep_del15','sum'))     
carrier_performance_agg

,totalflights,arr_delayedflights,arr_delayedmin,dep_delayedmin,dep_delayedflights
branded_code_share,,,,,
AA,23785.0,5349.0,523529.0,510098.0,4976.0
AS,2740.0,551.0,31201.0,33140.0,590.0
B6,5768.0,1779.0,161878.0,164054.0,1786.0
DL,24010.0,2776.0,235936.0,241573.0,2781.0
F9,2779.0,809.0,58565.0,56066.0,758.0
G4,9560.0,2274.0,184703.0,170835.0,2056.0
NK,9507.0,2574.0,200013.0,203828.0,2600.0
UA,16215.0,3227.0,277432.0,268672.0,3018.0
WN,142665.0,27357.0,1561098.0,1819223.0,32504.0

In [59]:
carrier_performance_agg['Arrival Flight Delays (%)'] = ((carrier_performance_agg['arr_delayedflights']/carrier_performance_agg['totalflights'])*100).round(2)
carrier_performance_agg['Departure Flight Delays(%)'] = ((carrier_performance_agg['dep_delayedflights']/carrier_performance_agg['totalflights'])*100).round(2)
carrier_performance_agg['Avg. arrival delay (min)'] = (carrier_performance_agg['arr_delayedmin']/carrier_performance_agg['arr_delayedflights'])
carrier_performance_agg['Avg. departure delay(min)'] = (carrier_performance_agg['dep_delayedmin']/carrier_performance_agg['dep_delayedflights'])
carrier_performance_agg = carrier_performance_agg.sort_values(by = ['Arrival Flight Delays (%)','Departure Flight Delays(%)'], ascending = [False, False])

In [60]:
carrier_performance_agg = carrier_performance_agg.rename({'totalflights': '# of total flights', 
                                                          'arr_delayedflights': '# of total arrival flights',
                                                          'arr_delayedmin': '# total arrival delayed min',
                                                          'dep_delayedmin': '# total departure delayed min',
                                                          'dep_delayedflights': '# of total departure flights'})
carrier_performance_agg

,totalflights,arr_delayedflights,arr_delayedmin,dep_delayedmin,dep_delayedflights,Arrival Flight Delays (%),Departure Flight Delays(%),Avg. arrival delay (min),Avg. departure delay(min)
branded_code_share,,,,,,,,,
B6,5768.0,1779.0,161878.0,164054.0,1786.0,30.84,30.96,90.993817,91.855543
F9,2779.0,809.0,58565.0,56066.0,758.0,29.11,27.28,72.391842,73.965699
NK,9507.0,2574.0,200013.0,203828.0,2600.0,27.07,27.35,77.705128,78.395385
G4,9560.0,2274.0,184703.0,170835.0,2056.0,23.79,21.51,81.223835,83.090953
AA,23785.0,5349.0,523529.0,510098.0,4976.0,22.49,20.92,97.874182,102.511656
AS,2740.0,551.0,31201.0,33140.0,590.0,20.11,21.53,56.626134,56.169492
UA,16215.0,3227.0,277432.0,268672.0,3018.0,19.90,18.61,85.972110,89.023194
WN,142665.0,27357.0,1561098.0,1819223.0,32504.0,19.18,22.78,57.063932,55.969204
DL,24010.0,2776.0,235936.0,241573.0,2781.0,11.56,11.58,84.991354,86.865516

# Overall delay rate

In [61]:
avg_arr_delay_grouped = bna_df.groupby('branded_code_share')['arr_delay_new'].mean().reset_index()
avg_dep_delay_grouped = bna_df.groupby('branded_code_share')['dep_delay_new'].mean().reset_index()
avg_delay_grouped = pd.merge(avg_arr_delay_grouped, avg_dep_delay_grouped, on = 'branded_code_share')

In [62]:
delay_summary = (
    bna_df.groupby(['branded_code_share', 'season', 'time_of_day'])
    .agg(total_flights=('flights', 'sum'),
        delayed_arrivals=('arr_del15', 'sum'),
        delayed_departures=('dep_del15', 'sum'))
    .reset_index())


delay_summary['arrival_delay_rate (%)'] = (delay_summary['delayed_arrivals'] / delay_summary['total_flights'] * 100).round(2)
delay_summary['departure_delay_rate (%)'] = (delay_summary['delayed_departures'] / delay_summary['total_flights'] * 100).round(2)
delay_summary['overall_delay_rate (%)'] = ((delay_summary['delayed_arrivals'] + delay_summary['delayed_departures']) / (2*delay_summary['total_flights']) * 100).round(2)

# monthly_df

In [68]:
# df1: Monthly percentages of delayed flights
df1 = (bna_df.groupby(['branded_code_share'])
       [['arr_del15', 'dep_del15', 'flights']]
       .sum()
       .reset_index())
df1['arrival flights monthly (%)'] = (df1['arr_del15'] / df1['flights']).round(4) * 100
df1['departure flights monthly (%)'] = (df1['dep_del15'] / df1['flights']).round(4) * 100
df1 = df1[['branded_code_share','arrival flights monthly (%)','departure flights monthly (%)']]

# df2: Yearly percentages of delayed flights
df2 = (bna_df.groupby(['branded_code_share'])
       [['arr_del15','dep_del15','flights']]
       .sum()
       .reset_index())
df2['arrival flights yearly (%)'] = (df2['arr_del15'] / df2['flights']).round(4) * 100
df2['departure flights yearly (%)'] = (df2['dep_del15'] / df2['flights']).round(4) * 100
df2 = df2[['branded_code_share','arrival flights yearly (%)','departure flights yearly (%)']]

# df3: Yearly average minutes delayed
df3 = (bna_df.groupby(['branded_code_share'])
       [['arr_delay_new','dep_delay_new','arr_del15','dep_del15']]
       .sum()
       .reset_index())
df3['Avg. min delayed for arrival flights (year)'] = df3['arr_delay_new'] / df3['arr_del15']
df3['Avg. min delayed for departure flights (year)'] = df3['dep_delay_new'] / df3['dep_del15']
df3 = df3[['branded_code_share','Avg. min delayed for arrival flights (year)','Avg. min delayed for departure flights (year)']]

# df4: Monthly average minutes delayed
df4 = (bna_df.groupby(['branded_code_share'])
       [['arr_delay_new','dep_delay_new','arr_del15','dep_del15']]
       .sum()
       .reset_index())
df4['Avg. min delayed for arrival flights (month)'] = df4['arr_delay_new'] / df4['arr_del15']
df4['Avg. min delayed for departure flights (month)'] = df4['dep_delay_new'] / df4['dep_del15']
df4 = df4[['branded_code_share','Avg. min delayed for arrival flights (month)','Avg. min delayed for departure flights (month)']]

# Merge all summaries into a single DataFrame
week_df = df1.merge(df2, on='branded_code_share', how='outer') \
             .merge(df3, on='branded_code_share', how='outer') \
             .merge(df4, on='branded_code_share', how='outer')

In [69]:
week_df

,branded_code_share,arrival flights monthly (%),departure flights monthly (%),arrival flights yearly (%),departure flights yearly (%),Avg. min delayed for arrival flights (year),Avg. min delayed for departure flights (year),Avg. min delayed for arrival flights (month),Avg. min delayed for departure flights (month)
0,AA,22.49,20.92,22.49,20.92,97.874182,102.511656,97.874182,102.511656
1,AS,20.11,21.53,20.11,21.53,56.626134,56.169492,56.626134,56.169492
2,B6,30.84,30.96,30.84,30.96,90.993817,91.855543,90.993817,91.855543
3,DL,11.56,11.58,11.56,11.58,84.991354,86.865516,84.991354,86.865516
4,F9,29.11,27.28,29.11,27.28,72.391842,73.965699,72.391842,73.965699
5,G4,23.79,21.51,23.79,21.51,81.223835,83.090953,81.223835,83.090953
6,NK,27.07,27.35,27.07,27.35,77.705128,78.395385,77.705128,78.395385
7,UA,19.90,18.61,19.90,18.61,85.972110,89.023194,85.972110,89.023194
8,WN,19.18,22.78,19.18,22.78,57.063932,55.969204,57.063932,55.969204

# Season DF

In [72]:
season_df = (bna_df.groupby(['branded_code_share', 'season', 'year', 'month'])
             [['arr_delay_new', 'dep_delay_new', 'arr_del15', 'dep_del15', 'flights']]
             .sum()
             .reset_index())

# Average minutes delayed
season_df['Avg. min delayed for arrival flights (season)'] = season_df['arr_delay_new'] / season_df['arr_del15']
season_df['Avg. min delayed for departure flights (season)'] = season_df['dep_delay_new'] / season_df['dep_del15']

# Percent of flights delayed
season_df['arrival flights season (%)'] = (season_df['arr_del15'] / season_df['flights']).round(4) * 100
season_df['departure flights season (%)'] = (season_df['dep_del15'] / season_df['flights']).round(4) * 100

# Keep only the relevant columns
season_df = season_df[['branded_code_share','season','year','month',
                       'Avg. min delayed for arrival flights (season)',
                       'Avg. min delayed for departure flights (season)',
                       'arrival flights season (%)','departure flights season (%)']]
season_df

,branded_code_share,season,year,month,Avg. min delayed for arrival flights (season),Avg. min delayed for departure flights (season),arrival flights season (%),departure flights season (%)
0,AA,fall,2022,9,83.731183,78.465347,14.31,15.54
1,AA,fall,2022,10,91.716814,88.778689,14.75,15.93
2,AA,fall,2022,11,86.949580,99.171717,16.76,13.94
3,AA,fall,2023,9,86.029412,94.666667,21.66,19.11
4,AA,fall,2023,10,79.929078,88.361538,17.98,16.58
...,...,...,...,...,...,...,...,...
319,WN,winter,2023,2,47.360215,48.867102,10.87,13.41
320,WN,winter,2023,12,56.094872,54.431647,18.01,21.45
321,WN,winter,2024,1,65.337868,60.901822,22.73,25.46
322,WN,winter,2024,2,52.410853,50.600437,11.35,13.43
323,WN,winter,2024,12,54.943890,54.433868,18.65,23.20

# Time of day DF

In [73]:
# time_df1: Average minutes delayed by time of day, with year and month
time_df1 = (bna_df.groupby(['branded_code_share', 'time_of_day', 'year', 'month'])
            [['arr_delay_new','dep_delay_new','arr_del15','dep_del15']]
            .sum()
            .reset_index())
time_df1['Avg. min delayed for arrival flights (time)'] = time_df1['arr_delay_new'] / time_df1['arr_del15']
time_df1['Avg. min delayed for departure flights (time)'] = time_df1['dep_delay_new'] / time_df1['dep_del15']
time_df1 = time_df1[['branded_code_share','time_of_day','year','month',
                     'Avg. min delayed for arrival flights (time)',
                     'Avg. min delayed for departure flights (time)']]

# time_df2: Percent of flights delayed by time of day, with year and month
time_df2 = (bna_df.groupby(['branded_code_share', 'time_of_day', 'year', 'month'])
            [['arr_del15','dep_del15','flights']]
            .sum()
            .reset_index())
time_df2['arrival flights time (%)'] = (time_df2['arr_del15'] / time_df2['flights']).round(4) * 100
time_df2['departure flights time (%)'] = (time_df2['dep_del15'] / time_df2['flights']).round(4) * 100
time_df2 = time_df2[['branded_code_share','time_of_day','year','month',
                     'arrival flights time (%)','departure flights time (%)']]

# time_df3: Yearly average minutes delayed
time_df3 = (bna_df.groupby(['branded_code_share','year'])
            [['arr_delay_new','dep_delay_new','arr_del15','dep_del15']]
            .sum()
            .reset_index())
time_df3['Avg. min delayed for arrival flights (year)'] = time_df3['arr_delay_new'] / time_df3['arr_del15']
time_df3['Avg. min delayed for departure flights (year)'] = time_df3['dep_delay_new'] / time_df3['dep_del15']
time_df3 = time_df3[['branded_code_share','year',
                     'Avg. min delayed for arrival flights (year)',
                     'Avg. min delayed for departure flights (year)']]

# time_df4: Monthly average minutes delayed
time_df4 = (bna_df.groupby(['branded_code_share','year','month'])
            [['arr_delay_new','dep_delay_new','arr_del15','dep_del15']]
            .sum()
            .reset_index())
time_df4['Avg. min delayed for arrival flights (month)'] = time_df4['arr_delay_new'] / time_df4['arr_del15']
time_df4['Avg. min delayed for departure flights (month)'] = time_df4['dep_delay_new'] / time_df4['dep_del15']
time_df4 = time_df4[['branded_code_share','year','month',
                     'Avg. min delayed for arrival flights (month)',
                     'Avg. min delayed for departure flights (month)']]

# Merge all metrics together
time_df = time_df1.merge(time_df2, on=['branded_code_share','time_of_day','year','month'], how='outer') \
                  .merge(time_df3, on=['branded_code_share','year'], how='outer') \
                  .merge(time_df4, on=['branded_code_share','year','month'], how='outer')

# Sort by year, month, and time_of_day
time_df = time_df.sort_values(by=['year','month','time_of_day'])
time_df

,branded_code_share,time_of_day,year,month,Avg. min delayed for arrival flights (time),Avg. min delayed for departure flights (time),arrival flights time (%),departure flights time (%),Avg. min delayed for arrival flights (year),Avg. min delayed for departure flights (year),Avg. min delayed for arrival flights (month),Avg. min delayed for departure flights (month)
0,AA,Night,2022,1,95.009174,101.000000,17.67,15.24,92.353870,90.602456,95.009174,101.000000
36,AS,Night,2022,1,73.833333,52.363636,30.00,27.50,55.078125,54.786885,73.833333,52.363636
72,B6,Night,2022,1,87.750000,86.000000,33.33,26.19,81.847411,80.790859,87.750000,86.000000
108,DL,Night,2022,1,120.589041,130.525424,14.31,11.57,86.090216,85.958034,120.589041,130.525424
144,F9,Night,2022,1,61.545455,53.454545,22.45,22.45,60.720848,62.731449,61.545455,53.454545
...,...,...,...,...,...,...,...,...,...,...,...,...
179,F9,Night,2024,12,120.333333,104.444444,23.68,23.68,89.744186,93.270718,120.333333,104.444444
215,G4,Night,2024,12,107.523810,99.177778,20.29,21.74,107.210526,106.288703,107.523810,99.177778
251,NK,Night,2024,12,72.410256,76.675000,20.86,21.39,82.326327,82.137897,72.410256,76.675000
287,UA,Night,2024,12,60.916667,65.500000,18.67,15.56,92.205989,96.556213,60.916667,65.500000
323,WN,Night,2024,12,54.943890,54.433868,18.65,23.20,58.228019,56.676116,54.943890,54.433868

# Day of the week DF

In [75]:
#day_df1: Average minutes delayed by day of the week, with year and month
day_df1 = (bna_df.groupby(['branded_code_share', 'day', 'year', 'month'])
            [['arr_delay_new','dep_delay_new','arr_del15','dep_del15']]
            .sum()
            .reset_index())
day_df1['Avg. min delayed for arrival flights (day)'] = day_df1['arr_delay_new'] / day_df1['arr_del15']
day_df1['Avg. min delayed for departure flights (day)'] = day_df1['dep_delay_new'] / day_df1['dep_del15']
day_df1 = day_df1[['branded_code_share','day','year','month',
                   'Avg. min delayed for arrival flights (day)',
                   'Avg. min delayed for departure flights (day)']]

# day_df2: Percent of flights delayed by day of the week, with year and month
day_df2 = (bna_df.groupby(['branded_code_share','day','year','month'])
            [['arr_del15','dep_del15','flights']]
            .sum()
            .reset_index())
day_df2['arrival flights week (%)'] = (day_df2['arr_del15'] / day_df2['flights']).round(4) * 100
day_df2['departure flights week (%)'] = (day_df2['dep_del15'] / day_df2['flights']).round(4) * 100
day_df2 = day_df2[['branded_code_share','day','year','month',
                   'arrival flights week (%)','departure flights week (%)']]

# day_df3: Yearly average minutes delayed
day_df3 = (bna_df.groupby(['branded_code_share','year'])
            [['arr_delay_new','dep_delay_new','arr_del15','dep_del15']]
            .sum()
            .reset_index())
day_df3['Avg. min delayed for arrival flights (year)'] = day_df3['arr_delay_new'] / day_df3['arr_del15']
day_df3['Avg. min delayed for departure flights (year)'] = day_df3['dep_delay_new'] / day_df3['dep_del15']
day_df3 = day_df3[['branded_code_share','year',
                   'Avg. min delayed for arrival flights (year)',
                   'Avg. min delayed for departure flights (year)']]

# Merge all metrics together
day_df = day_df1.merge(day_df2, on=['branded_code_share','day','year','month'], how='outer') \
                .merge(day_df3, on=['branded_code_share','year'], how='outer')

# Sort by year, month, and day
day_df = day_df.sort_values(by=['year','month','day'])
day_df

,branded_code_share,day,year,month,Avg. min delayed for arrival flights (day),Avg. min delayed for departure flights (day),arrival flights week (%),departure flights week (%),Avg. min delayed for arrival flights (year),Avg. min delayed for departure flights (year)
0,AA,Friday,2022,1,68.187500,70.266667,19.05,17.86,92.353870,90.602456
252,AS,Friday,2022,1,inf,37.000000,0.00,20.00,55.078125,54.786885
504,B6,Friday,2022,1,50.000000,41.000000,25.00,25.00,81.847411,80.790859
756,DL,Friday,2022,1,144.533333,158.333333,20.55,16.44,86.090216,85.958034
1008,F9,Friday,2022,1,71.000000,30.500000,12.50,25.00,60.720848,62.731449
...,...,...,...,...,...,...,...,...,...,...
1007,DL,Wednesday,2024,12,49.000000,73.000000,11.49,6.90,81.674897,85.403067
1254,F9,Wednesday,2024,12,NaN,NaN,0.00,0.00,89.744186,93.270718
1744,NK,Wednesday,2024,12,23.000000,28.500000,27.78,11.11,82.326327,82.137897
1996,UA,Wednesday,2024,12,64.333333,72.400000,21.43,17.86,92.205989,96.556213
2248,WN,Wednesday,2024,12,46.647059,49.043478,13.05,17.66,58.228019,56.676116

# Season DF

In [78]:
season_df1 = (bna_df.groupby(['branded_code_share', 'season','year','month'])
              [['arr_delay_new','dep_delay_new','arr_del15','dep_del15']]
              .sum()
              .reset_index())
season_df1['Avg. min delayed for arrival flights (season)'] = season_df1['arr_delay_new'] / season_df1['arr_del15']
season_df1['Avg. min delayed for departure flights (season)'] = season_df1['dep_delay_new'] / season_df1['dep_del15']
season_df1 = season_df1[['branded_code_share','season','year','month',
                         'Avg. min delayed for arrival flights (season)',
                         'Avg. min delayed for departure flights (season)']]

# season_df2 (percentages, by season, year, and month)
season_df2 = (bna_df.groupby(['branded_code_share','season','year','month'])
              [['arr_del15','dep_del15','flights']]
              .sum()
              .reset_index())
season_df2['arrival flights season (%)'] = (season_df2['arr_del15'] / season_df2['flights']).round(4) * 100
season_df2['departure flights season (%)'] = (season_df2['dep_del15'] / season_df2['flights']).round(4) * 100
season_df2 = season_df2[['branded_code_share','season','year','month',
                         'arrival flights season (%)','departure flights season (%)']]

# season_df3 (yearly avg minutes delayed, by year)
season_df3 = (bna_df.groupby(['branded_code_share','year'])
              [['arr_delay_new','dep_delay_new','arr_del15','dep_del15']]
              .sum()
              .reset_index())
season_df3['Avg. min delayed for arrival flights (year)'] = season_df3['arr_delay_new'] / season_df3['arr_del15']
season_df3['Avg. min delayed for departure flights (year)'] = season_df3['dep_delay_new'] / season_df3['dep_del15']
season_df3 = season_df3[['branded_code_share','year',
                         'Avg. min delayed for arrival flights (year)',
                         'Avg. min delayed for departure flights (year)']]

# season_df4 (monthly avg minutes delayed, by month and year)
season_df4 = (bna_df.groupby(['branded_code_share','year','month'])
              [['arr_delay_new','dep_delay_new','arr_del15','dep_del15']]
              .sum()
              .reset_index())
season_df4['Avg. min delayed for arrival flights (month)'] = season_df4['arr_delay_new'] / season_df4['arr_del15']
season_df4['Avg. min delayed for departure flights (month)'] = season_df4['dep_delay_new'] / season_df4['dep_del15']
season_df4 = season_df4[['branded_code_share','year','month',
                         'Avg. min delayed for arrival flights (month)',
                         'Avg. min delayed for departure flights (month)']]

# Merge all
season_df = season_df1.merge(season_df2, on=['branded_code_share','season','year','month'], how='outer') \
                      .merge(season_df3, on=['branded_code_share','year'], how='outer') \
                      .merge(season_df4, on=['branded_code_share','year','month'], how='outer')

season_df = season_df.sort_values(by = ['year','month'])
season_df

,branded_code_share,season,year,month,Avg. min delayed for arrival flights (season),Avg. min delayed for departure flights (season),arrival flights season (%),departure flights season (%),Avg. min delayed for arrival flights (year),Avg. min delayed for departure flights (year),Avg. min delayed for arrival flights (month),Avg. min delayed for departure flights (month)
9,AA,Winter,2022,1,95.009174,101.000000,17.67,15.24,92.353870,90.602456,95.009174,101.000000
45,AS,Winter,2022,1,73.833333,52.363636,30.00,27.50,55.078125,54.786885,73.833333,52.363636
81,B6,Winter,2022,1,87.750000,86.000000,33.33,26.19,81.847411,80.790859,87.750000,86.000000
117,DL,Winter,2022,1,120.589041,130.525424,14.31,11.57,86.090216,85.958034,120.589041,130.525424
153,F9,Winter,2022,1,61.545455,53.454545,22.45,22.45,60.720848,62.731449,61.545455,53.454545
...,...,...,...,...,...,...,...,...,...,...,...,...
179,F9,Winter,2024,12,120.333333,104.444444,23.68,23.68,89.744186,93.270718,120.333333,104.444444
215,G4,Winter,2024,12,107.523810,99.177778,20.29,21.74,107.210526,106.288703,107.523810,99.177778
251,NK,Winter,2024,12,72.410256,76.675000,20.86,21.39,82.326327,82.137897,72.410256,76.675000
287,UA,Winter,2024,12,60.916667,65.500000,18.67,15.56,92.205989,96.556213,60.916667,65.500000
323,WN,Winter,2024,12,54.943890,54.433868,18.65,23.20,58.228019,56.676116,54.943890,54.433868

In [92]:
# time_df1 (avg minutes delayed, by time of day, month, and year)
time_df1 = (bna_df.groupby(['branded_code_share','time_of_day','year','month'])
            [['arr_delay_new','dep_delay_new','arr_del15','dep_del15']]
            .sum()
            .reset_index())
time_df1['Avg. min delayed for arrival flights (time)'] = time_df1['arr_delay_new'] / time_df1['arr_del15']
time_df1['Avg. min delayed for departure flights (time)'] = time_df1['dep_delay_new'] / time_df1['dep_del15']
time_df1 = time_df1[['branded_code_share','time_of_day','year','month',
                     'Avg. min delayed for arrival flights (time)',
                     'Avg. min delayed for departure flights (time)']]

# time_df2 (percentages, by time of day, month, and year)
time_df2 = (bna_df.groupby(['branded_code_share','time_of_day','year','month'])
            [['arr_del15','dep_del15','flights']]
            .sum()
            .reset_index())
time_df2['arrival flights time (%)'] = (time_df2['arr_del15'] / time_df2['flights']).round(4) * 100
time_df2['departure flights time (%)'] = (time_df2['dep_del15'] / time_df2['flights']).round(4) * 100
time_df2 = time_df2[['branded_code_share','time_of_day','year','month','arrival flights time (%)','departure flights time (%)']]

# time_df3 (yearly avg minutes delayed, by year)
time_df3 = (bna_df.groupby(['branded_code_share','year'])
            [['arr_delay_new','dep_delay_new','arr_del15','dep_del15']]
            .sum()
            .reset_index())
time_df3['Avg. min delayed for arrival flights (year)'] = time_df3['arr_delay_new'] / time_df3['arr_del15']
time_df3['Avg. min delayed for departure flights (year)'] = time_df3['dep_delay_new'] / time_df3['dep_del15']
time_df3 = time_df3[['branded_code_share','year','Avg. min delayed for arrival flights (year)','Avg. min delayed for departure flights (year)']]

# time_df4 (monthly avg minutes delayed, by month and year)
time_df4 = (bna_df.groupby(['branded_code_share','year','month'])
            [['arr_delay_new','dep_delay_new','arr_del15','dep_del15']]
            .sum()
            .reset_index())
time_df4['Avg. min delayed for arrival flights (month)'] = time_df4['arr_delay_new'] / time_df4['arr_del15']
time_df4['Avg. min delayed for departure flights (month)'] = time_df4['dep_delay_new'] / time_df4['dep_del15']
time_df4 = time_df4[['branded_code_share','year','month',
                     'Avg. min delayed for arrival flights (month)',
                     'Avg. min delayed for departure flights (month)']]

# Merge all
time_df = time_df1.merge(time_df2, on=['branded_code_share','time_of_day','year','month'], how='outer') \
                  .merge(time_df3, on=['branded_code_share','year'], how='outer') \
                  .merge(time_df4, on=['branded_code_share','year','month'], how='outer')

time_df = time_df.sort_values(by=['year','month','time_of_day'])

In [93]:
time_df

,branded_code_share,time_of_day,year,month,Avg. min delayed for arrival flights (time),Avg. min delayed for departure flights (time),arrival flights time (%),departure flights time (%),Avg. min delayed for arrival flights (year),Avg. min delayed for departure flights (year),Avg. min delayed for arrival flights (month),Avg. min delayed for departure flights (month)
0,AA,Afternoon,2022,1,116.500000,97.875000,15.38,17.58,92.353870,90.602456,95.009174,101.000000
315,B6,Afternoon,2022,1,137.300000,134.625000,37.04,29.63,81.847411,80.790859,87.750000,86.000000
493,DL,Afternoon,2022,1,193.600000,139.500000,15.62,18.75,86.090216,85.958034,120.589041,130.525424
709,F9,Afternoon,2022,1,45.000000,34.250000,26.67,26.67,60.720848,62.731449,61.545455,53.454545
891,G4,Afternoon,2022,1,134.166667,121.833333,44.44,44.44,70.125846,69.356495,94.333333,96.161290
...,...,...,...,...,...,...,...,...,...,...,...,...
1794,WN,Morning,2024,12,61.257576,57.812500,8.47,10.27,58.228019,56.676116,54.943890,54.433868
484,B6,Night,2024,12,32.500000,43.500000,100.00,100.00,86.964401,89.682390,114.200000,117.214286
1335,NK,Night,2024,12,93.000000,83.666667,23.53,35.29,82.326327,82.137897,72.410256,76.675000
1543,UA,Night,2024,12,NaN,inf,0.00,0.00,92.205989,96.556213,60.916667,65.500000
1795,WN,Night,2024,12,47.351351,43.400000,40.22,59.78,58.228019,56.676116,54.943890,54.433868

# Weekend/Weekday DF

In [77]:
# week_type_df1: Average minutes delayed by week_type, with year and month
week_type_df1 = (bna_df.groupby(['branded_code_share', 'week_type', 'year', 'month'])
                 [['arr_delay_new','dep_delay_new','arr_del15','dep_del15']]
                 .sum()
                 .reset_index())
week_type_df1['Avg. min delayed for arrival flights (week_type)'] = week_type_df1['arr_delay_new'] / week_type_df1['arr_del15']
week_type_df1['Avg. min delayed for departure flights (week_type)'] = week_type_df1['dep_delay_new'] / week_type_df1['dep_del15']
week_type_df1 = week_type_df1[['branded_code_share','week_type','year','month',
                               'Avg. min delayed for arrival flights (week_type)',
                               'Avg. min delayed for departure flights (week_type)']]

# week_type_df2: Percent of flights delayed by week_type
week_type_df2 = (bna_df.groupby(['branded_code_share','week_type','year','month'])
                 [['arr_del15','dep_del15','flights']]
                 .sum()
                 .reset_index())
week_type_df2['arrival flights week_type (%)'] = (week_type_df2['arr_del15'] / week_type_df2['flights']).round(4) * 100
week_type_df2['departure flights week_type (%)'] = (week_type_df2['dep_del15'] / week_type_df2['flights']).round(4) * 100
week_type_df2 = week_type_df2[['branded_code_share','week_type','year','month',
                               'arrival flights week_type (%)','departure flights week_type (%)']]

# week_type_df3: Yearly averages
week_type_df3 = (bna_df.groupby(['branded_code_share','year'])
                 [['arr_delay_new','dep_delay_new','arr_del15','dep_del15']]
                 .sum()
                 .reset_index())
week_type_df3['Avg. min delayed for arrival flights (year)'] = week_type_df3['arr_delay_new'] / week_type_df3['arr_del15']
week_type_df3['Avg. min delayed for departure flights (year)'] = week_type_df3['dep_delay_new'] / week_type_df3['dep_del15']
week_type_df3 = week_type_df3[['branded_code_share','year',
                               'Avg. min delayed for arrival flights (year)',
                               'Avg. min delayed for departure flights (year)']]

# Merge all metrics together
week_type_df = week_type_df1.merge(week_type_df2, on=['branded_code_share','week_type','year','month'], how='outer') \
                            .merge(week_type_df3, on=['branded_code_share','year'], how='outer')

# Sort by year, month, and week_type
week_type_df = week_type_df.sort_values(by=['year','month','week_type'])
week_type_df

,branded_code_share,week_type,year,month,Avg. min delayed for arrival flights (week_type),Avg. min delayed for departure flights (week_type),arrival flights week_type (%),departure flights week_type (%),Avg. min delayed for arrival flights (year),Avg. min delayed for departure flights (year)
0,AA,weekday,2022,1,95.294118,100.762712,15.81,13.72,92.353870,90.602456
72,AS,weekday,2022,1,67.333333,38.000000,21.43,14.29,55.078125,54.786885
144,B6,weekday,2022,1,63.733333,57.090909,27.78,20.37,81.847411,80.790859
216,DL,weekday,2022,1,142.326923,160.609756,14.21,11.20,86.090216,85.958034
288,F9,weekday,2022,1,44.000000,41.400000,17.65,14.71,60.720848,62.731449
...,...,...,...,...,...,...,...,...,...,...
359,F9,weekend,2024,12,296.000000,173.500000,8.33,16.67,89.744186,93.270718
431,G4,weekend,2024,12,56.363636,51.384615,18.03,21.31,107.210526,106.288703
503,NK,weekend,2024,12,92.250000,96.153846,21.43,23.21,82.326327,82.137897
575,UA,weekend,2024,12,58.678571,60.043478,21.71,17.83,92.205989,96.556213
647,WN,weekend,2024,12,54.996599,55.307278,23.06,29.10,58.228019,56.676116